In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('/content/Cleaned-Data.csv')
data.head()

,Fever,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,None_Sympton,Pains,Nasal-Congestion,Runny-Nose,Diarrhea,None_Experiencing,Age_0-9,Age_10-19,Age_20-24,Age_25-59,Age_60+,Gender_Female,Gender_Male,Gender_Transgender,Severity_Severe
0,1,1,1,1,1,0,1,1,1,1,0,1,0,0,0,0,0,1,0,0
1,1,1,1,1,1,0,1,1,1,1,0,1,0,0,0,0,0,1,0,0
2,1,1,1,1,1,0,1,1,1,1,0,1,0,0,0,0,0,1,0,0
3,1,1,1,1,1,0,1,1,1,1,0,1,0,0,0,0,0,1,0,0
4,1,1,1,1,1,0,1,1,1,1,0,1,0,0,0,0,0,1,0,0

In [ ]:
x = data.iloc[:, 0:10]
y = data['Severity_Severe']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 40)

In [ ]:
from sklearn.naive_bayes import GaussianNB

g = GaussianNB()

In [ ]:
g.fit(x_train, y_train)

GaussianNB()

In [ ]:
y_pred = g.predict(x_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
from sklearn import metrics
accuracy = metrics.accuracy_score(y_test, y_pred)
accuracy

0.7489425505050505